body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #f8f8f8;
  padding: 10px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-weight: bold;
  font-size: 20 rem;
  text-decoration: none;
  color: #333;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-left: 20px;
}

.navbar-link {
  text-decoration: none;
  color: #333;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
}

.toggle-line {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px;
}